body{
    background-color: grey;
}
#test{
    padding: 20px;
    font-size:100px;
    background-color: rgb(88, 88, 88);
    margin: 20px;
    border-radius: 20%;
    width: 100%;
    height: 250px;
}
#refresh{
    margin: 20px;
    background-color: rgb(105, 105, 105);
}